div[class="row"] {
    border: 1px solid black;
}

div[class^="col-"] {
    background-color: #cccccc;
    border: 1px solid black;
  
}

 
/* mobile */
@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  
 .rightcolum{
	display: none; 
 }
 
}